* {
	box-sizing: border-box;
}
body {
	font-family: 'Helvetica Neue', HelveicaNeue, Arial, sans-serif;
	max-width: 680px;
	margin: auto;
	padding: 20px;
	font-size: 15px;
	line-height: 20px;
}
body, h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

h1 { font-size: 2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

p {
	/*text-align: justify; */
}
a {
	color: #36c;
}
blockquote {
	font-style: italic;
	border-left: 5px solid #ddd;
	padding-left: 20px;
	margin-left: 20px;
}
ul {
	list-style-type: square;
}
li {
	margin-top: 5px;
}
code {
	display: inline-block;
	background: #eee;
	padding: 0 5px 2px;
	border-radius: 3px;
}



/* Images */
img {
	display: block;
	max-width: 640px;
	margin: auto;
}
figure {
	display: table;
	width: 1px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	border: 1px solid rgb(226, 226, 226);
}
figcaption {
	padding: 5px;
	text-align: center;
}
/* Put a nice border on all images and figures */
img, 
figure {
	padding: 2px;
	border: 1px solid rgb(226, 226, 226);
}
/* But remove the border for images inside figures */
figure img, 
figure.no-border {
	padding: 0;
	border: 0;
}



/* Headings */
h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px solid #ddd;
	margin: 40px 0 20px;
}
h1, h2 {
	margin-top: 40px;
	padding-bottom: 5px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: inherit;
}

/* 
	Hack to stop headers being so close after clicking links
	http://css-tricks.com/hash-tag-links-padding/ 
*/
h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
	content: " "; 
	display: block; 
	margin-top: -50px; 
	height: 50px; 
	visibility: hidden;
}



/* Tables */
table {
	border-collapse: collapse;
}
tr {
	border-bottom: 1px solid #ddd;
}
td, th {
	padding: 5px 20px 5px 0;
	text-align: left;
}
tr:last-child {
	border-bottom: 0;
}

/* Small fonts for some elements */
ul, td, th, figcaption, code {
	font-size: 0.94em;
}
ul ul {
	font-size: inherit; /* Don't let nested lists get too small */
}


/* Print styles */
@media print {
	h2 {
		page-break-before: always;
	}
	h2:first-of-type {
		page-break-before: auto;
	}
	table {
		page-break-inside: avoid;
	}
}