* {
	box-sizing: border-box;
}
body {
	font-family: 'Helvetica Neue', HelveicaNeue, Arial, sans-serif;
	max-width: 680px;
	margin: auto;
	padding: 20px;
	font-size: 15px;
	line-height: 20px;
}
body, h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

h1 { font-size: 2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

p {
	text-align: justify; 
}
a {
	color: #36c;
}
ul {
	list-style-type: square;
}
li {
	margin-top: 5px;
}



/* Headings */
h1, h2, h3, h4, h5, h6 {
	border-bottom: 1px solid #ddd;
	margin: 40px 0 20px;
}
h1, h2 {
	margin-top: 40px;
	padding-bottom: 5px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: inherit;
}